<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the requested filename exists, simply serve it.
    RewriteCond %{REQUEST_FILENAME} !-f

    # Otherwise, rewrite the request to index.php.
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
